@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yarndings+12&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Inter";
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
